{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Optima, sans-serif;
}

:root {
  --pink: #ff880e4f;
  --light-pink: #ffd1df;
  --grey: #8c8c8c;
  --light-grey: #e6e6e6;
  --black: #333333;
  --white: #ffffff;
}

body {
  background-color: var(--white);
  color: var(--black);
  line-height: 1.6;
}

header {
  background-color: var(--pink);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: var(--light-pink);
  padding: 15px;
  text-align: center;
}

.nav-buttons {
  display: flex;
  justify-content: left;
  gap: 10px;
  flex-wrap: wrap;
}

.nav-button {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

.nav-button:hover, .nav-button.active {
  background-color: var(--black);
  color: var(--white);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h1, h2, h3 {
  margin-bottom: 15px;
}

h1 {
  color: var(--black);
}

h2 {
  color: var(--light-pink);
}


.info-grid, .feature-grid, .1-grid, .2-grid,
.3-grid, .5-grid, .4-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.info-item, .feature-item, .1-item, .2-item,
.3-item, .5-item, .4-item {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


footer {
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}


@media (max-width: 768px) {
  .nav-buttons {
    flex-direction: row;
  }
  
  .nav-button {
    width: 100%;
  }
}
